<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder
		location="basic_simulation.properties, jdbc.properties" />

	<bean id="networkContext" class="mom.net.JeroMqNetworkContext"></bean>

	<bean id="pauser" class="mom.util.Pauser" c:nanoPause="${pauselength}"></bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="eventDao" class="mom.dao.EventDao" c:dataSource-ref="dataSource"></bean>

	<bean id="eventsource1" class="mom.event.EventSource" c:id="1"
		c:msgLen="${eventlength}" c:pauser-ref="pauser"></bean>
	<bean id="eventsource2" class="mom.event.EventSource" c:id="2"
		c:msgLen="${eventlength}" c:pauser-ref="pauser"></bean>
	<bean id="eventsource3" class="mom.event.EventSource" c:id="3"
		c:msgLen="${eventlength}" c:pauser-ref="pauser"></bean>
	<bean id="eventsource4" class="mom.event.EventSource" c:id="4"
		c:msgLen="${eventlength}" c:pauser-ref="pauser"></bean>

	<bean id="publisher1" class="mom.publisher.JeroMqPublisher"
		c:networkContext-ref="networkContext" c:address="${publisher.address1}" />
	<bean id="publisher2" class="mom.publisher.JeroMqPublisher"
		c:networkContext-ref="networkContext" c:address="${publisher.address2}" />
	<bean id="publisher3" class="mom.publisher.JeroMqPublisher"
		c:networkContext-ref="networkContext" c:address="${publisher.address3}" />
	<bean id="publisher4" class="mom.publisher.JeroMqPublisher"
		c:networkContext-ref="networkContext" c:address="${publisher.address4}" />

	<bean id="simulator1" class="mom.simulation.Simulator"
		c:eventSource-ref="eventsource1" c:publisher-ref="publisher1" c:limit="${eventlimit}"></bean>
	<bean id="simulator2" class="mom.simulation.Simulator"
		c:eventSource-ref="eventsource2" c:publisher-ref="publisher2" c:limit="${eventlimit}"></bean>
	<bean id="simulator3" class="mom.simulation.Simulator"
		c:eventSource-ref="eventsource3" c:publisher-ref="publisher3" c:limit="${eventlimit}"></bean>
	<bean id="simulator4" class="mom.simulation.Simulator"
		c:eventSource-ref="eventsource4" c:publisher-ref="publisher4" c:limit="${eventlimit}"></bean>

	<bean id="subscriber1" class="mom.subscriber.JeroMqSubscriber"
		c:networkContext-ref="networkContext" c:address="${subscriber.address1}" />
	<bean id="subscriber2" class="mom.subscriber.JeroMqSubscriber"
		c:networkContext-ref="networkContext" c:address="${subscriber.address2}" />
	<bean id="subscriber3" class="mom.subscriber.JeroMqSubscriber"
		c:networkContext-ref="networkContext" c:address="${subscriber.address3}" />
	<bean id="subscriber4" class="mom.subscriber.JeroMqSubscriber"
		c:networkContext-ref="networkContext" c:address="${subscriber.address4}" />

	<bean id="listener1" class="mom.simulation.Listener"
		c:eventDao-ref="eventDao" c:eventLimit="${eventlimit}"
		c:subscriber-ref="subscriber4" />
	<bean id="listener2" class="mom.simulation.Listener"
		c:eventDao-ref="eventDao" c:eventLimit="${eventlimit}"
		c:subscriber-ref="subscriber4" />
	<bean id="listener3" class="mom.simulation.Listener"
		c:eventDao-ref="eventDao" c:eventLimit="${eventlimit}"
		c:subscriber-ref="subscriber4" />
	<bean id="listener4" class="mom.simulation.Listener"
		c:eventDao-ref="eventDao" c:eventLimit="${eventlimit}"
		c:subscriber-ref="subscriber4" />

	<bean id="simulation" class="mom.simulation.Simulation">
		<constructor-arg name="simulators">
			<set>
				<ref bean="simulator1" />
				<ref bean="simulator2" />
				<ref bean="simulator3" />
				<ref bean="simulator4" />
			</set>
		</constructor-arg>
		<constructor-arg name="listeners">
			<set>
				<ref bean="listener1" />
				<ref bean="listener2" />
				<ref bean="listener3" />
				<ref bean="listener4" />
			</set>
		</constructor-arg>
	</bean>

</beans>
